@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* padding: 12px; */
}
body.hide-scroll::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
/* h2 {
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 100px;
  font-weight: normal;
  margin: 0 0 -55px;
} */
/* h1, */
/* h3 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 47px;
  font-weight: bold;
  letter-spacing: 9.4px;
  margin: 0 0 15px;
} */
/* p {
  color: #515151;
  line-height: 27px;
}
.a-CTA {
  border-bottom: 2px solid #a96700;
  padding-bottom: 4px;
  letter-spacing: 1.5px;
  font-size: 18px;
} */
